.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


.header-logo{
    font-size: 45px;
    font-weight: bold;
    color: blue;
    

}



.header-nav{
    display: flex;
    gap: 35px;
    font-size: 30px;

}